.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust height to account for navbar */
    margin-top: 60px; /* Adjust margin to account for navbar */
}

.login-paper {
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-button {
    margin-top: 20px;
}